header {
    background-color: rgb(94, 8, 232);
    padding: 20px;
}

footer {
    background-color: rgb(94, 8, 232);
    padding: 20px;
}


main {
    background-color: rgb(245, 245, 126);
    padding: 20px;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
    text-align: center;    
}

.nav-item {
    border: 3px solid rgb(245, 245, 126);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
}

.nav-link {
    color: rgb(245, 245, 126);
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    display: block;
}

.nav-link.active {
    color: rgb(245, 245, 126) !important;
    font-weight: normal !important;

}

@media (min-width: 768px) {
    .nav-link {
        font-size: 2rem; /* Suurempi fonttikoko tableteilla ja suuremmilla laitteilla */
    } 
}

@media (max-width: 768px){
    #pelialue {
        grid-template-columns: repeat(3, 1fr);
    }
    .kortti{
        width: 100px;
        height: 100px;
    }

}

@media (max-width: 480px) {
    #pelialue {
        grid-template-columns: repeat(2, 1fr);
    }
    .kortti{
        width: 80px;
        height: 80px;
    }

}




.nav-link:hover {
    color: rgba(245, 245, 126, 0.26) !important;
}

footer {
    text-align: center;
}


/*Uutta asiaa*/
/* Pelialueen asettelua */


#pelialue {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 saraketta */
    gap: 10px;
    justify-content: center;
}

.kortti {
    width: 235px;
    height: 235px;
    background-color: #ff0; /* Kortin taustaväri */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.kuva-kortit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}