header {
    background-color: rgb(94, 8, 232);
    padding: 20px;
}

footer {
    background-color: rgb(94, 8, 232);
    padding: 20px;
}

main {
    background-color: rgb(245, 245, 126);
    padding: 20px;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;    
}

.nav-item {
    border: 3px solid rgb(245, 245, 126);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
}

.nav-link {
    color: rgb(245, 245, 126);
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    display: block;
}

.nav-link.active {
    color: rgb(245, 245, 126) !important;
    font-weight: normal !important;

}

@media (min-width: 768px) {
    .nav-link {
        font-size: 2rem; /* Suurempi fonttikoko tableteilla ja suuremmilla laitteilla */
    } 
}

.nav-link:hover {
    color: rgba(245, 245, 126, 0.26) !important;
}

footer {
    text-align: center;
}

/*Luo tyylit,värit ja rakenteen sivuston "lause" laatikoita varten*/
.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    min-height: 50px;
    width: 80%;
    background-color: rgb(94, 8, 232);
    border: solid;
    border-radius: 5px;
    border-color: rgb(42, 2, 106);
  }

  /*Luo Värit, tyylit, tekstin asetukset tarkastusnappulalle*/
  #check {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgb(94, 8, 232);
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(245, 245, 126);
    border: solid;
    border-radius: 5px;
    border-color: rgb(42, 2, 106);
    cursor: pointer;
  }

  /*keskittää sisällön tekstin keskelle*/
  main {
    text-align: center;
  }

  /*Luo suomilause laatikon tekstiin tyylin*/
  #finn-box {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(245, 245, 126);
  }