header {
    background-color: rgb(94, 8, 232);
    padding: 20px;
}

footer {
    background-color: rgb(94, 8, 232);
    padding: 20px;
}

main {
    background-color: rgb(245, 245, 126);
    padding: 20px;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;    
}

.nav-item {
    border: 3px solid rgb(245, 245, 126);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
}

.nav-link {
    color: rgb(245, 245, 126);
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    display: block;
}

.nav-link.active {
    color: rgb(245, 245, 126) !important;
    font-weight: normal !important;

}
.nav-link:hover {
    color:rgba(245, 245, 126, 0.26) !important ;
}

@media (min-width: 768px) {
    .nav-link {
        font-size: 2rem; /* Suurempi fonttikoko tableteilla ja suuremmilla laitteilla */
    } 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
}

.name {
    text-align: center;
}

.buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 15px;
    
}

.image {

    display: flex;
    position: relative;
    top: 80px;  /* Siirtää kuvaa alaspäin */
    left: 50%;
    transform: translateX(-50%); /* chat gpt: tämä korjaa kuvan sijoittumisen tarkasti keskelle */
    width: 200px;
   
} 

.word {
  
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    top: 170px;
}

.message {
    font-size: 1.5em;
    text-align: center;
    margin-top: auto;
    border-radius: 10px;
    margin-top: 30px;
    

}

/** tyylit on tuotettu aiempien kurssien materiaaleja hyödyntäen,
(verkkosivun toteutus, web-ohjelmointi ja web-projekti) 
www.w3schools.com sivustoja käyttäen,
 sekä tekoälyn kanssa keskustelleen erilaisista toteutusvaihtoehdoista (www.chatgpt.com). **/